@import "tailwindcss";


body, html {
  font-family: var(--font-satoshi), sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
}

.app {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
}


button {
  cursor: pointer;
}

button, input {
  border-radius: 62px;
}

.line {
  max-width: clamp(358px, 90%, 1240px);
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 108px;
  margin-top: 64px;
}
